@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;700&family=Poppins:wght@700&family=Rock+3D&display=swap');
:root {
    --text: hsl(60, 9%, 15%);
    --background: hsl(53, 40%, 96%);
    --primary: hsl(358, 78%, 37%);
    --primary-alpha: hsla(358, 78%, 37%, 0.9);
    --secondary: hsl(60, 87%, 51%);
    --accent: hsl(43, 100%, 50%);

    --font-parragraph: 'Fira Code', monospace;
    --font-headings: 'Poppins', sans-serif;
    --font-display: 'Rock 3D', serif;

}
*:not(dialog),
    *::after,
    *::before { 
        margin: 0; 
        padding: 0;
    }
html {
    font-size: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;

    -webkit-text-size-adjust: none; 
       -moz-text-size-adjust: none;
            text-size-adjust: none;
}
:has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

h1, h2, h3, h4 {
    font-family: var(--font-headings);
    text-wrap: balance;
}
h1,
.h1 {
    font-size: clamp(2.813rem, 5.422vw + 1.288rem, 5.625rem);
    line-height: clamp(3.656rem, 4.88vw + 2.284rem, 6.188rem);
}
h2,
.h2 {
    font-size: clamp(2rem, 3.855vw + 0.916rem, 4rem);
    line-height: clamp(2.6rem, 3.47vw + 1.624rem, 4.4rem);
}
h3 {
    font-size: clamp(1.75rem, 2.048vw + 1.174rem, 2.813rem);
    line-height: clamp(2.275rem, 1.578vw + 1.831rem, 3.094rem);
}
h4,
.contact h3 { 
    font-size: clamp(1.375rem, 1.205vw + 1.036rem, 2rem);
    line-height: clamp(1.788rem, 0.795vw + 1.564rem, 2.2rem);
}
.textoPosterior {
    font-family: var(--font-display);
    word-break: break-all;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
p {
    margin: 0 0 calc(1ex / 0.32);
    font-size: clamp(1rem, 0.964vw + 0.729rem, 1.5rem);
    font-weight: 300;
    line-height: calc(1ex / 0.32);
    text-wrap: pretty;
    max-width: 65ch;
    hanging-punctuation: first last; 
}
b, strong {
    font-weight: 700;
}
a, button { 
    cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
}
ul > li {
    margin-bottom: 0.3rem;
}
img, picture, svg, video {
    display: block;
    max-width: 100%;
}
img { 
    max-inline-size: 100%;
    max-block-size: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}
input, textarea, button, select {
    font: inherit;
}

body {
    font-family: var(--font-parragraph);
    font-size: 1rem;

    margin: 0;
    background-color: var(--background);
    color: var(--text);
}
.menu,
.cabezote,
.work__profile,
.portfolio,
.contact__title,
.contact__links,
.contact__form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    box-sizing: border-box;
}
/* -------------- */
/* -------------- */
/* -----MENU----- */
/* -------------- */
/* -------------- */
.menu {
    position: fixed;
    width: 100%;
    padding: 0 1rem;
    background-color: var(--primary);
    align-items: center;
    height: 3.75rem;
    z-index: 999;

}
.menu__logo {
    fill: var(--background);
    height: 32px;
}
.menu__idioma {
    background: none;
    border: none;
    color: var(--background);
    text-decoration: underline;
}
.menu__idioma:hover {
    color: var(--secondary);
}

.menu__estado {
    width: 48px;
    height: 48px;
    grid-column: -2;
    justify-self: end;

    display: flex;
    align-items: center;
    justify-content: center;

}
.menu__btn {
    position: relative;
    display: block;
    width: 30px;
    height: 4px;
    background-color: var(--background);
    transition: background 0.2s ease;
}
.menu__btn::before, 
.menu__btn::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    transition: 
        transform 0.2s ease,
        top 0.2s ease;
}
.menu__btn::before {
    top: -10px;
}
.menu__btn::after {
    top: 10px;
}
.menu__estado:hover > .menu__btn, 
.menu__estado:hover > .menu__btn::before, 
.menu__estado:hover > .menu__btn::after {
    background-color: var(--secondary);
}
#mostrarMenu {
    display: none;
}
#mostrarMenu:checked + .menu__estado .menu__btn{
    background: transparent;
}
#mostrarMenu:checked + .menu__estado .menu__btn::before {
    top: 0;
    transform: rotate(45deg);
}
#mostrarMenu:checked + .menu__estado .menu__btn::after {
    top: 0;
    transform: rotate(-45deg);
}
#mostrarMenu:checked ~ .menu__elementos {
    left: 0;
}
.menu__elementos {
    background-color: var(--primary);
    position: absolute;
    top: 3.75rem;
    left: -100%;
    width: 100%;
    height: calc(50vh - 3.75rem);
    border-bottom: solid 1px var(--background);
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    transition: left 0.2s ease;
}
.menu__elementos > li {
    margin: 0 0 0 calc(50% + 1rem);
}
.menu__elementos a {
    color: var(--background);
}
.menu__elementos a:hover,
.menu__elementos a:active,
.menu__elementos a:focus-visible {
    color: var(--secondary);
}
/* -------------- */
/* -------------- */
/* ----HEADER---- */
/* -------------- */
/* -------------- */
.cabezote {
    background-color: var(--primary);
    padding: 7rem 0 5rem;
    grid-template-rows: repeat(4, minmax(5rem, auto));
}
.cabezote__foto {
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
    mix-blend-mode: multiply;
    height: 14rem;
    object-fit: cover;
    object-position: center right;
    z-index: 0;
}
.cabezote__titulo, .h1 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    z-index: 1;
}
.cabezote__titulo {
    color: var(--background);
}
.h1 {
    transform: translate(-0.7rem, 0.3rem);
    color: var(--text);
    z-index: 0;
}
h1 {
    z-index: 1;
}
.cabezote__texto {
    grid-column: 2 / span 3;
    grid-row: 4 / span 1;
    margin: 1rem 1rem 0 0;
    color: var(--background);
}
.cabezote__texto a {
    color: var(--secondary);
}
.cabezote__texto a:hover {
    color: var(--accent);
}
/* -------------- */
/* -------------- */
/* --HABILIDADES- */
/* -------------- */
/* -------------- */
.work {
    padding: 5rem 0 0;
}
.work__profile h2, 
.work__profile .h2,
.work__profile h3,
.work__profile a{
    grid-column: 2 / span 3;
}
.work__profile h2,
.work__profile .h2 {
    grid-row: 1 / span 1;
}
.work__profile h2 {
    z-index: 1;
    margin: 0 0 5rem;
}
.work__profile .h2 {
    color: var(--accent);
    transform: translate(-1rem, 0.2rem);
    z-index: -1;
}
.work__profile a {
    margin: -1rem 0 5rem;
    color: var(--accent);
    font-weight: 700;
}
.work__profile a:hover {
    color: var(--primary);
}
.profile__text {
    grid-column: 1 / span 3;
    padding: 0 1rem;
}
.profile__image {
    display: none;
}
/* -------------- */
/* -------------- */
/* --PORTAFOLIO-- */
/* -------------- */
/* -------------- */
.portfolio {
    background-color: var(--secondary);
    padding: 5rem 1rem;
}

.portfolio h2, 
.portfolio .h2 {
    grid-column: 2 / span 3;
    grid-row: 1 / span 1;
}
.portfolio .h2 {
    color: var(--primary);
    transform: translate(-0.5rem, 0.2rem);
    z-index: 0;
    margin: 0 0 2rem;
}
.portfolio h2 {
    z-index: 1;
}
.portfolio__text {
    grid-column: 1 / -1;
}
.portfolio__links {
    grid-column: 2 / span 2;
    margin: 2rem 0;
}
.portfolio__links a {
    color: var(--primary);
    font-weight: 700;
}
.portfolio__links a:hover {
    color: var(--accent);
}
/* -------------- */
/* -------------- */
/* ---FILTROS---- */
/* -------------- */
/* -------------- */
.portfolio__filter {
    margin: 4rem 1rem;
}
.portfolio__filter button {
    border: none;
    background: none;
    border-bottom: solid 1px var(--accent);
    color: var(--accent);
    padding: 0 0 0 calc(25% + 0rem); 
    margin: 0.2rem 0;
}
.portfolio__filter button:hover,
.portfolio__filter button:focus-visible {
    color: var(--primary);
    border-bottom-color: var(--primary);
}
.portfolio__filter button:focus-visible {
    outline-color: var(--primary);
}
/* -------------- */
/* -------------- */
/* ---PROYECTO--- */
/* -------------- */
/* -------------- */
.portfolio__card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 1rem 4rem;
}
.portfolio__card svg,
.portfolio__card img {
    grid-column: 2 / -1;
    grid-row: 1;
    width: 100%;
    height: 100%;
}
.portfolio__card img {
    mix-blend-mode: luminosity;
    z-index: 0;
}
.portfolio__card h4 {
    color: var(--primary);
    grid-column: 1 / -1;
    grid-row: 1;
    align-self: end;
    z-index: 1;
}
.portfolio__card span {
    grid-column: 1 / -1;
    color: var(--primary);
}
.portfolio__card div,
.portfolio__card a {
    grid-column: 2 / -1;
}
.portfolio__card a {
    color: var(--accent);
    font-weight: 700;
}
/* -------------- */
/* -------------- */
/* ---CONTACTO--- */
/* -------------- */
/* -------------- */
.contact {
    background-color: var(--primary);
    padding: 3rem 1rem;
    color: var(--background);
}
.contact h3 {
    grid-column: 1 / -1;
}
.contact ul {
    grid-column: 2 / -1;
    margin: 0 0 3rem;
}
.contact a {
    color: var(--background);
}
.contact__title {
    margin: 0 0 3rem;
}
.contact__title div,
.contact__title h2 {
    grid-column: 1 / -1;
    grid-row: 1;
}
.contact__title h2 {
    z-index: 1;
}
.contact__title div {
    transform: translate(-1rem, 0.2rem);
    color: var(--text);
    z-index: 0;
}
.contact__form form {
    grid-column: 2 / -1;
}
.contact__form div {
    margin: 0 0 1rem;
}
.contact__form input, 
.contact__form textarea {
    box-sizing: border-box;
    border: none;
    background-color: var(--background);
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 0.2rem 0 0;
}
.contact__form input:focus-visible, 
.contact__form textarea:focus-visible {
    background-color: var(--secondary);
}
.contact__form textarea {
    resize: vertical;
    min-height: 10rem;
}
.contact__form button {
    background: none;
    border: none;
    color: var(--accent);
    font-weight: 700;
    text-decoration: underline;
}
.contact__form button:hover {
    color: var(--secondary);
}
.contact__form #resultado {
    margin: 1rem 0;
}
.invalid-feedback,
.empty-feedback {
  display: none;
}
.was-validated :placeholder-shown:invalid ~ .empty-feedback,
.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
  display: block;
  margin: 0.5rem;
  font-weight: 700;
  color: var(--secondary);
}
.is-invalid,
.was-validated :invalid {
  border-color: blue;
}
.fin {
    margin: 1rem;
    text-align: center;
}

/* Accesibilidad del contenido*/
:focus-visible {
    border: none;
    outline: solid 1px var(--secondary);
    outline-offset: 3px;
}
.hidden, [hidden] {
    display: none !important;
}
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}
/* Estilos del botón de skip */
a.skip-menu {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-menu:focus, a.skip-menu:active {
    color: var(--background);
    background-color: var(--primary);
    left: unset;
    top: unset;
    width: unset;
    height: unset;
    overflow: unset;
    margin: 1rem;
    padding: 0.5rem 1.5rem;
    font-size:1em;
    z-index:999;
}
@media(prefers-reduced-motion: reduce) { 
    /* Bloquea movimiento y animaciones */
    *, *::before, *::after {
        transition: none !important;
        animation: none !important;
        scroll-behavior: auto !important;
    }
}
