@font-face {
    font-family: 'Fira Code';
    font-weight: 300;
    src: local('Fira Code'),
         url('assets/fonts/firacodewght-webfont.woff2') format('woff2'),
         url('assets/fonts/firacodewght-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Space Grotesk';
    font-weight: 700;
    src: local('Space Grotesk'),
         url('assets/fonts/spacegrotesk-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/spacegrotesk-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Rock 3D';
    src: local('Rock 3D'),
         url('assets/fonts/rock3d-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/rock3d-regular-webfont.woff') format('woff');
}
:root {
    --text: hsl(233, 13%, 13%);
    --background: hsl(351, 21%, 94%);
    --primary: hsl(232, 64%, 40%);
    --secondary: hsl(50, 85%, 67%);
    --accent: hsl(47, 100%, 46%);
    --background-alpha: hsla(47, 100%, 46%, 0.8);

    --font-parragraph: 'Fira Code', monospace;
    --font-headings: 'Space Grotesk', sans-serif;
    --font-display: 'Rock 3D', sans-serif;

}
*:not(dialog),
    *::after,
    *::before { 
        margin: 0; 
        padding: 0;
    }
html {
    font-size: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;

    -webkit-text-size-adjust: none; 
       -moz-text-size-adjust: none;
            text-size-adjust: none;
}
@media (min-width: 600px) {
    html {
        scroll-padding-top: 6rem;
    }
}

h1, h2, h3, h4 {
    font-family: var(--font-headings);
    text-wrap: balance;
}
h1,
.h1 {
    font-size: clamp(2.813rem, 6.08vw + 1.483rem, 7.563rem);
    line-height: clamp(3.375rem, 7.882vw + 1.651rem, 7.563rem);
}
h2,
.h2 {
    font-size: clamp(2rem, 3.855vw + 0.916rem, 4rem);
    line-height: clamp(2.6rem, 3.47vw + 1.624rem, 4.4rem);
}
h3 {
    font-size: clamp(1.75rem, 2.048vw + 1.174rem, 2.813rem);
    line-height: clamp(2.275rem, 1.578vw + 1.831rem, 3.094rem);
}
h4,
.contact h3, 
dialog h2 {
    font-size: clamp(1.375rem, 1.205vw + 1.036rem, 2rem);
    line-height: clamp(1.788rem, 0.795vw + 1.564rem, 2.2rem);
}
.textoPosterior {
    font-family: var(--font-display);
    word-break: break-all;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
p {
    max-width: 60ch;
    font-size: clamp(1rem, 0.964vw + 0.729rem, 1.5rem);
    line-height: calc(1ex / 0.32);
    margin: 0 0 calc(1ex / 0.32);
    text-wrap: pretty;
}
.smallParragraph, 
.smallParragraph * ,
dialog p{
    font-size: 1rem;
}
b, strong {
    text-decoration: underline;
}
a, button, a > *, button > * { 
    cursor: pointer;
    text-decoration: underline;
    background: none;
    border: none;
}
ul {
    list-style: none;
    padding: 0;
}
ul > li {
    margin-bottom: 0.3rem;
}
img, picture, svg, video {
    display: block;
    max-width: 100%;
}
img { 
    max-inline-size: 100%;
    max-block-size: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}
input, textarea, button, select {
    font: inherit;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: var(--font-parragraph);
    font-size: 1rem;
}
.menu,
.cabezote,
.work__profile,
.portfolio,
.contact__title,
.contact__links,
.contact__form {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

/* -------------- */
/* -------------- */
/* -----MENU----- */
/* -------------- */
/* -------------- */
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.75rem;
    padding: 0 1rem;
    background-color: var(--primary);
    align-items: center;
    z-index: 999;
    transition: top 0.2s ease;
}
.menu--hide {
    top: -3.75rem;
}
.menu__logo {
    max-width: 120px;
    fill: var(--background);
}
.menu__idioma,
.menu__idioma > span {
    color: var(--background);
}
.menu__idioma:hover, 
.menu__idioma:hover > span {
    color: var(--secondary);
}
.menu__estado {
    width: 48px;
    height: 48px;
    grid-column: -2;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu__btn {
    position: relative;
    display: block;
    width: 30px;
    height: 4px;
    background-color: var(--background);
    transition: background 0.2s ease;
}
.menu__btn::before, 
.menu__btn::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background-color: var(--background);
    transition: 
        transform 0.2s ease,
        top 0.2s ease;
}
.menu__btn::before {
    top: -10px;
}
.menu__btn::after {
    top: 10px;
}
.menu__estado:hover > .menu__btn, 
.menu__estado:hover > .menu__btn::before, 
.menu__estado:hover > .menu__btn::after {
    background-color: var(--secondary);
}
#mostrarMenu {
    display: none;
}
#mostrarMenu:checked + .menu__estado .menu__btn{
    background: transparent;
}
#mostrarMenu:checked + .menu__estado .menu__btn::before {
    top: 0;
    transform: rotate(45deg);
}
#mostrarMenu:checked + .menu__estado .menu__btn::after {
    top: 0;
    transform: rotate(-45deg);
}
#mostrarMenu:checked ~ .menu__elementos {
    left: 0;
}
.menu__elementos {
    position: absolute;
    top: 3.75rem;
    left: -100%;
    width: 100%;
    height: calc(50vh - 3.75rem);
    background-color: var(--primary);
    border-bottom: solid 1px var(--background);
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    transition: left 0.2s ease;
}
.menu__elementos > li {
    margin: 0 0 0 calc(50% + 1rem);
}
.menu__elementos a {
    color: var(--background);
}
.menu__elementos a:hover,
.menu__elementos a:active,
.menu__elementos a:focus-visible {
    color: var(--secondary);
}
@media (min-width: 600px) {
    .menu,
    .cabezote,
    .work__profile,
    .portfolio,
    .contact__title,
    .contact__links,
    .contact__form {
        grid-template-columns: repeat(6, 1fr);
    }
    .menu {
        height: unset;
        align-items: start;
        padding: 1rem ;
    }
    .menu--hide {
        top: -9rem;
    }
    .menu__estado {
        display: none;
    }
    .menu__elementos {
        position: unset;
        grid-column: 5 / span 2;
        top: unset;
        left: unset;
        width: unset;
        height: unset;
        border-bottom: none;
        gap: 0.2rem;
    }
    .menu__elementos > li {
        margin: 0; 
    }
}
@media (min-width: 1000px) {
    .menu,
    .cabezote,
    .work__profile,
    .portfolio,
    .contact__title {
        grid-template-columns: repeat(12, minmax(1rem, 130px));
        justify-content: center;
    }
    .menu__elementos {
        grid-column: -2 / span 2;
    }
}
/* -------------- */
/* -------------- */
/* ----HEADER---- */
/* -------------- */
/* -------------- */
.cabezote {
    background-color: var(--primary);
    padding: 7rem 0 5rem;
    grid-template-rows: repeat(4, minmax(5rem, auto));
}
.cabezote__foto {
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
    mix-blend-mode: multiply;
    height: 14rem;
    object-fit: cover;
    object-position: center right;
    z-index: 0;
}
.cabezote__titulo, .h1 {
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
    z-index: 1;
}
.cabezote__titulo {
    color: var(--secondary);
}
.h1 {
    transform: translate(-0.7rem, 0.3rem);
    z-index: 0;
}
h1 {
    z-index: 1;
}
.cabezote__texto {
    grid-column: 2 / span 3;
    grid-row: 4 / span 1;
    margin: 1rem 1rem 0 0;
    color: var(--background);
}
.cabezote__texto a {
    color: var(--secondary);
}
.cabezote__texto a:hover {
    color: var(--accent);
}
@media (min-width: 600px) {
    .cabezote {
        grid-template-rows: repeat(4, minmax(5rem, auto));
        padding: 7rem 0 5rem;
        min-height: 95dvh;
        row-gap: 0;
        place-content: center;
    }
    .cabezote__foto {
        grid-row: 1 / span 3;
        grid-column: 4 / -1;
        height: unset;
        width: 100%;
        height: 100%;
        object-position: center;
        max-height: 450px;
    }
    .cabezote__titulo, .h1 {
        grid-column: 2 / span 3;
    }
    .cabezote__texto {
        grid-row: 3 / span 2;
        grid-column: 2 / span 4;
        z-index: 10;
    }
}
@media (min-width: 1000px) {
    .cabezote {
        padding: 7rem 0 3rem;
        grid-template-rows: repeat(2, min-content);
        place-content: center;
    }
    .cabezote__foto {
        position: absolute;
        width: max(40vw, 40vh);
        height: max(40vw, 40vh);
        max-width: 450px;
        max-height: 450px;
        bottom: -15vh;
        right: 10vw;
    }
    .cabezote__titulo, .h1 {
        grid-column: 3 / span 6;
        grid-row: 1;
        align-self: start;
    }
    .cabezote__texto {
        grid-column: 4 / span 8;
        grid-row: 2;
    }
}
/* -------------- */
/* -------------- */
/* --HABILIDADES- */
/* -------------- */
/* -------------- */
.work {
    padding: 5rem 0 0;
}
.work__profile {
    padding: 0 1rem 5rem;
}
.work__profile h2, 
.work__profile .h2,
.work__profile h3,
.profile__stack {
    grid-column: 2 / span 3;
    word-break: unset;
}
.profile__stack {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 0.2rem;
    color: var(--primary);
    margin: 0 0 2rem;
}
.work__profile h2,
.work__profile .h2 {
    grid-row: 1 / span 1;
}
.work__profile h2 {
    z-index: 1;
}
.work__profile .h2 {
    color: var(--secondary);
    transform: translate(-1rem, 0.2rem);
    z-index: -1;
}
.work__profile h3 {
    margin: 5rem 0 0;
}
.profile__text {
    grid-column: 1 / span 3;
}
.profile__image {
    display: none;
}
@media (min-width: 600px) {
    .profile__stack {
        grid-column: 2 / -1;
    }
    .work__profile h3,
    .work__profile a{
        grid-column: 3 / span 3;
    }
    .profile__text {
        grid-column: 3 / -1;
    }
    .profile__text.smallParragraph {
        grid-column: 2 / span 3;

    }
}
@media (min-width: 1000px) {
    .work {
        padding: 10rem 0 0;
    }
    .work__profile h2, 
    .work__profile .h2,
    .profile__stack {
        grid-column: 3 / span 6;
    }
    .profile__text {
        grid-column: 4 / -3;
    }
    .work__profile h3,
    .profile__text.smallParragraph {
        grid-column: 2 / span 5;

    }
    .work__profile .profile--last {
        grid-column: 8 / span 5;
    }
    .work__profile h3.profile--last {
        grid-column: 8 / span 5;
        grid-row: 6;
        align-self: end;
    }
    .work__profile div.profile--last {
        grid-row: 7;
    }
}

/* -------------- */
/* -------------- */
/* --PORTAFOLIO-- */
/* -------------- */
/* -------------- */
.portfolio {
    background-color: var(--accent);
    padding: 4rem 1rem;
}

.portfolio h2, 
.portfolio .h2 {
    grid-column: 2 / span 3;
    grid-row: 1 / span 1;
}
.portfolio .h2 {
    color: var(--secondary);
    transform: translate(-0.5rem, 0.2rem);
    z-index: 0;
    margin: 0 0 2rem;
}
.portfolio h2 {
    color: var(--primary);
    z-index: 1;
}
.portfolio__text {
    color: var(--text);
    grid-column: 1 / -1;
}
.portfolio__links {
    grid-column: 2 / span 3;
    margin: 2rem 0;
}
.portfolio__links a {
    color: var(--primary);
}
.portfolio__links a:hover {
    color: var(--background);
}
@media (min-width: 600px) {
    .portfolio__text {
        grid-column: 3 / -1;
    }
}
@media (min-width: 1000px) {
    .portfolio h2, 
    .portfolio .h2 {
        grid-column: 3 / span 4;
        align-self: start;
    }
    .portfolio__text {
        color: var(--text);
        grid-column: 7 / -2;
    }
    .portfolio__links {
        grid-column: 3 / span 4;
        grid-row: 2;
        margin: 0;
        /* align-self: end; */
    }
}
/* -------------- */
/* -------------- */
/* ---FILTROS---- */
/* -------------- */
/* -------------- */
.portfolio__filter {
    margin: 4rem 1rem;
}
.portfolio__filter button {
    border-bottom: solid 1px var(--accent);
    color: var(--accent);
    padding: 0 0 0 calc(25% + 0rem); 
    margin: 0.2rem 0.2rem;
    text-decoration: none;
    transition: 
        background-color 0.5s ease,
        color 0.5s ease;
}
.portfolio__filter button:hover,
.portfolio__filter button:focus-visible {
    color: var(--primary);
    border-bottom-color: var(--primary);
}
.portfolio__filter button:focus-visible {
    outline-color: var(--primary);
}
.portfolio__filter .filter__active,
.portfolio__filter .filter__active:hover {
    background-color: var(--primary);
    color: var(--background) ;
}
@media (min-width: 600px) {
    .portfolio__filter {
        margin: 2rem 1rem;
        border-bottom: solid 1px var(--accent);
        display: flex;
        gap: 1rem;
    }
    .portfolio__filter li:first-child {
        margin: 0 auto 0 0;
    }
    .portfolio__filter button {
        border-bottom: none;
        padding: 0 0.2rem; 
        margin: 0;
    }
}
@media (min-width: 1000px) {
    .portfolio__filter {
        margin: 4rem auto;
        padding: 0 1rem;
        max-width: 1376px;
    }
}
/* -------------- */
/* -------------- */
/* ---PROYECTO--- */
/* -------------- */
/* -------------- */
.portfolio__card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 1rem 4rem;
}
.portfolio__card:not(.hidden) {
    animation: fade-in 0.3s forwards;
}
.portfolio__card img {
    grid-column: 2 / -1;
    grid-row: 1 / span 1;
    justify-self: end;
    width: 100%;
    opacity: 0.8;
    transition: 
        transform 0.4s ease,
        opacity 0.2s ease;
}
.portfolio__card:hover img {
    transform: scale(1.05);
    opacity: 1;
}
.portfolio__card h4 {
    color: var(--primary);
    grid-column: 1 / -2;
    grid-row: 1;
    align-self: end;
    z-index: 2;
}
.portfolio__card span {
    grid-column: 1 / -1;
    color: var(--primary);
}
.portfolio__card div,
.portfolio__card a {
    grid-column: 2 / -1;
}
.portfolio__card div {
    margin: 0 0 1.5rem;
}
.portfolio__card a,
.portfolio__card button {
    color: var(--primary);
}
.portfolio__card a:hover,
.portfolio__card button:hover {
    color: var(--accent);
}

::backdrop {
    background-color: var(--background-alpha);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
}
dialog {
    box-sizing: border-box;
    border: none;
    width: calc(100dvw - 4rem);
    max-height: calc(100dvh - 6rem);
    padding: 1rem;
    background-color: var(--background);
}
dialog[open] {
    animation: fade-in 0.3s forwards;
}
dialog img {
    width: 100%;
    mix-blend-mode: multiply;
}
dialog figcaption {
    font-size: 0.8rem;
    text-align: right;
    margin: 0.5rem 0 2rem 15%;
}
dialog h2,
span {
    color: var(--primary);
}
.cerrarModal {
    position: sticky;
    display: block;
    top: 0;
    margin: 0 0 0 auto;
    padding: 0.5rem 0 0.5rem 1rem;
    background-color: var(--background);
    z-index: 10;
    color: var(--primary);
}

@media (min-width: 600px) {
    .work__portfolio {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 0 1rem;
    }
    .portfolio__card {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 0 4rem;
    }
    .portfolio__card h4 {
        grid-column: 1 / -1;
    }
    .portfolio__card img {
        grid-column: 2 / -1;
        grid-row: 1 / span 1;
    }
    .portfolio__card div {
        grid-column: 2 / -1;
    }
    .portfolio__card a {
        grid-column: 2 / -1;
    }

    dialog {
        width: calc(90dvw - 4rem);
        max-height: calc(90dvh - 6rem);
        padding: 2rem 4rem 4rem;
    }
    dialog p {
        margin: 1.5rem 0 1.5rem 8rem;
    }
    dialog figcaption {
        margin: 0.5rem 0 2rem 8rem;
    }
    dialog h2,
    dialog h3,
    span {
        width: 75%;
    }
}
@media (min-width: 1000px) {
    .work__portfolio {
        padding: 0 1rem; 
        grid-template-columns: repeat(3, minmax(1rem, 450px));
        justify-content: center;
    }
    .portfolio__card {
        grid-template-columns: repeat(6, 1fr);
        padding: 0 0 6rem;
        gap: 1rem;
    }
    .portfolio__card img,
    .portfolio__card div,
    .portfolio__card a {
        grid-column: 3 / -1;
    }
    .portfolio__card h4,
    .portfolio__card span {
        grid-column: 2 / -2;
    }

    dialog {
        max-width: 900px;
    }
    dialog p {
        margin: 1.5rem 0 1.5rem 15rem;
    }
    dialog figcaption {
        margin: 0.5rem 0 2rem 15rem;
    }
    dialog h2,
    dialog h3,
    span {
        width: 50%;
    }
}
/* -------------- */
/* -------------- */
/* ---CONTACTO--- */
/* -------------- */
/* -------------- */
.contact {
    background-color: var(--primary);
    padding: 3rem 1rem;
    color: var(--background);
}
.contact h2 {
    color: var(--secondary);
}
.contact h3 {
    grid-column: 1 / -1;
}
.contact ul {
    grid-column: 2 / -1;
    margin: 0 0 3rem;
}
.contact a {
    color: var(--background);
}
.contact a:hover {
    color: var(--accent);
}
.contact__title {
    margin: 0 0 3rem;
}
.contact__title div,
.contact__title h2 {
    grid-column: 1 / -1;
    grid-row: 1;
}
.contact__title h2 {
    z-index: 1;
}
.contact__title div {
    transform: translate(-1rem, 0.2rem);
    color: var(--text);
    z-index: 0;
}
.contact__form form {
    grid-column: 2 / -1;
}
.contact__form div {
    margin: 0 0 1rem;
}
.contact__form input, 
.contact__form textarea {
    box-sizing: border-box;
    border: none;
    background-color: var(--background);
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 0.2rem 0 0;
    transition: 
        background-color 0.4s ease,
        outline 0.2s ease,
        outline-offset 0.2s ease;
}
.contact__form input:focus-visible, 
.contact__form textarea:focus-visible {
    background-color: var(--secondary);
}
.contact__form textarea {
    resize: vertical;
    min-height: 10rem;
}
.contact__form button {
    color: var(--accent);
}
.contact__form button:hover {
    color: var(--secondary);
}
.contact__form #resultado {
    margin: 1rem 0;
}
.invalid-feedback,
.empty-feedback {
  display: none;
}
.was-validated :placeholder-shown:invalid ~ .empty-feedback,
.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
  display: block;
  margin: 0.5rem;
  color: var(--secondary);
}
.is-invalid,
.was-validated :invalid {
  border-color: blue;
}
.fin {
    margin: 1rem;
    text-align: center;
}
@media (min-width: 600px) {
    .contact {
        padding: 5rem 1rem;
    }
    .contact h3 {
        grid-column: 2 / -1;
    }
    .contact ul {
        grid-column: 3 / -1;
    }
    .contact__title div,
    .contact__title h2 {
        grid-column: 2 / span 2;
        grid-row: 1;
    }
    .contact__form form {
        grid-column: 3 / -1;
    }
}
@media (min-width: 1000px) {
    .contact {
        padding: 7rem 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
    .contact__title {
        width: 100%;
    }
    .contact__title div,
    .contact__title h2 {
        grid-column: 3 / span 2;
        grid-row: 1;
    }
    .contact__links,
    .contact__form {
        margin: 0;
        width: 40vw;
        max-width: 500px;
    }
    .contact h3 {
        grid-column: 1 / -3;
    }
    .contact ul {
        grid-column: 2 / -2;
    }
    .contact__form form {
        grid-column: 2 / -1;
    }
}
/* Animaciones */
@keyframes fade-in {
    0% { 
        opacity: 0; 
        transform: translateY(20%);
    }
    100% { 
        opacity: 1;
        transform: translateY(0%);
    }   
}
@keyframes fade-out {
    0% { 
        opacity: 1;
        transform: translateY(0%);
    }   
    100% { 
        opacity: 0; 
        transform: translateY(20%);
    }
}
/* Accesibilidad del contenido*/
:focus-visible {
    border: none;
    outline: solid 1px var(--secondary);
    outline-offset: 3px;
}
.hidden, [hidden] {
    display: none !important;
}
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}
a.skip-menu {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-menu:focus, a.skip-menu:active {
    color: var(--background);
    background-color: var(--primary);
    left: unset;
    top: unset;
    width: unset;
    height: unset;
    overflow: unset;
    margin: 1rem;
    padding: 0.5rem 1.5rem;
    font-size:1em;
    z-index:999;
}
@media(prefers-reduced-motion: reduce) { 
    *, *::before, *::after {
        transition: none !important;
        animation: none !important;
        scroll-behavior: auto !important;
    }
}
