@import url("./reset.css");
:root {
  --background: #1d1907;
  --text: #98aad2;
  --links: #ffbf00;
  --secondary: #ceaef5;
  --backup: #a0f3de;
  --grid-lines: rgb(0 0 0 / 0.3);

  --font-text: "Martian Mono", monospace;
  --font-display: "rock_3dregular", monospace;

  /* --base-size: clamp(0.875rem, 0.5vw + 0.75rem, 1.25rem); */
  --base-size: 1rem;
  --grid-offset: 0 calc(var(--base-size) * -0.25);
  --line-height: calc(var(--base-size) * 1.5);
}
h1 {
  font-family: var(--font-display);
  font-size: calc(var(--line-height) * 3);
  line-height: calc(var(--line-height) * 3);
  margin: 0 0 var(--line-height);
  color: var(--secondary);
}

h2 {
  font-family: var(--font-text);
  font-size: calc(var(--base-size) * 1.75);
  line-height: calc(var(--line-height) * 2);
  transform: translateY(calc(var(--line-height) * 0.35));
  margin: 0 0 var(--line-height);
}
h3,
h4,
p {
  font-family: var(--font-text);
  font-size: var(--base-size);
  line-height: var(--line-height);
  margin: 0 0 var(--line-height);
}

@media (min-width: 600px) {
  h1 {
    font-size: calc(var(--line-height) * 4);
    line-height: calc(var(--line-height) * 4);
  }
  h2 {
    transform: translateY(calc(var(--line-height) * 0.25));
    font-size: calc(var(--base-size) * 2);
    line-height: calc(var(--line-height) * 2);
  }
}
a,
button {
  color: var(--links);
  border: none;
  background: none;
  text-decoration: none;

  &:hover {
    color: var(--backup);
    text-decoration: underline;
  }

  &:active {
    color: var(--secondary);
  }

  &:focus-visible {
    outline: solid 1px var(--links);
  }
}

a {
  &:not([target="_blank"])::after {
    content: " *";
  }

  &[target="_blank"]::after {
    content: " >";
  }
}

::selection {
  background: var(--links);
  color: var(--background);
}

body {
  padding: var(--line-height);
  font-family: var(--font-text);
  font-size: var(--base-size);
  line-height: var(--line-height);
  color: var(--text);

  background-color: var(--background);
  background-image: linear-gradient(
      to right,
      transparent calc(var(--line-height) - 1px),
      var(--grid-lines) 1px
    ),
    linear-gradient(
      to bottom,
      transparent calc(var(--line-height) - 1px),
      var(--grid-lines) 1px
    );
  background-size: var(--line-height) var(--line-height);
  background-position: var(--grid-offset);
}

main {
  /* background: red; */
}

.menu {
  & button,
  & a {
    color: var(--text);
  }
}

.menu__show {
  display: block;
  outline: 1px solid red;
  width: 42px;
  height: 42px;

  & .show__bar {
    margin: 0 auto;
    display: block;
    background-color: var(--links);
    width: 21px;
    height: 1px;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--links);
      left: 0;
    }

    &::before {
      transform: translateY(-7px);
    }
    &::after {
      transform: translateY(7px);
    }
  }

  &:hover .show__bar,
  &:hover .show__bar::before,
  &:hover .show__bar::after {
    background-color: var(--backup);
  }

  &:active .show__bar {
    transform: scale(0.9);
  }

  &.view .show__bar {
    background: none;
  }

  &.view .show__bar::before {
    transform: rotate(-45deg);
  }
  &.view .show__bar::after {
    transform: rotate(45deg);
  }
}
