@import url('./reset.css');
:root {
    --background: #1d1907;
    --text: #98aad2;
    --links: #ffbf00;
    --secondary: #ceaef5;
    --backup: #a0f3de;
    --grid-lines-color: rgb(0 0 0 / 0.2);
    --transparent: rgb(0 0 0 / 0);

    --font-text: 'Martian Mono', monospace;
    --font-display: 'rock_3dregular', monospace;
    --base-size: 1rem;

    --grid: linear-gradient(
            to right,
            transparent calc(var(--line-height) - 1px),
            var(--grid-lines-color) 1px
        ),
        linear-gradient(
            to bottom,
            transparent calc(var(--line-height) - 1px),
            var(--grid-lines-color) 1px
        );
    --grid-offset: 0 calc(var(--base-size) * -0.25);
    --line-height: calc(var(--base-size) * 1.5);
    --baseline-offset: calc(var(--line-height) * -0.2);
    --blur: 10px;
}
h1 {
    font-family: var(--font-display);
    font-size: calc(var(--line-height) * 3);
    line-height: calc(var(--line-height) * 3);
    margin: 0 0 calc(var(--line-height) * 2);
    color: var(--secondary);
}

h2 {
    font-family: var(--font-text);
    font-size: calc(var(--base-size) * 1.75);
    line-height: calc(var(--line-height) * 2);
    transform: translateY(calc(var(--line-height) * 0.35));
    margin: 0 0 var(--line-height);
}
h3,
h4,
p {
    font-family: var(--font-text);
    font-size: var(--base-size);
    line-height: var(--line-height);
    margin: 0 0 var(--line-height);
}

@media (min-width: 650px) {
    h1 {
        font-size: calc(var(--line-height) * 4);
        line-height: calc(var(--line-height) * 4);
    }
    h2 {
        transform: translateY(calc(var(--line-height) * 0.25));
        font-size: calc(var(--base-size) * 2);
        line-height: calc(var(--line-height) * 2);
    }
}
a,
button {
    color: var(--links);
    border: none;
    background: none;

    &:hover {
        color: var(--backup);
        text-decoration: underline;
    }

    &:active {
        color: var(--secondary);
    }

    &:focus-visible {
        outline: solid 1px var(--links);
    }
}

a {
    &:not([target='_blank'])::after {
        content: ' *';
    }

    &[target='_blank']::after {
        content: ' >';
    }
}

::selection {
    background: var(--links);
    color: var(--background);
}

body {
    padding: var(--line-height);
    font-family: var(--font-text);
    font-size: var(--base-size);
    line-height: var(--line-height);
    color: var(--text);

    background-color: var(--background);
    background-image: url('/assets/img/retrato-mmejia.gif'),
        linear-gradient(
            to right,
            transparent calc(var(--line-height) - 1px),
            var(--grid-lines-color) 1px
        ),
        linear-gradient(
            to bottom,
            transparent calc(var(--line-height) - 1px),
            var(--grid-lines-color) 1px
        );
    background-repeat: no-repeat, repeat, repeat;
    background-size:
        auto,
        var(--line-height) var(--line-height),
        var(--line-height) var(--line-height);
    background-position:
        10vw 30vh,
        var(--grid-offset),
        var(--grid-offset);
    background-blend-mode: multiply, normal, normal;
}

.menu {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--line-height) var(--line-height) 0;
    height: calc(var(--line-height) * 3);
    background-image: var(--grid);
    background-size: var(--line-height) var(--line-height);
    background-position: var(--grid-offset);
    backdrop-filter: blur(var(--blur));
    width: 100vw;
    grid-template-columns: 46px min-content 1fr;
    gap: var(--line-height);
    align-items: start;
    justify-items: start;
    z-index: 10;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;

    & button,
    a {
        &::before,
        &::after {
            content: '';
        }
    }

    &.hide {
        transform: translateY(calc(var(--line-height) * -3));
    }
}

.menu__logo {
    fill: var(--text);
    height: calc(var(--line-height));
}

.menu__lang {
    color: var(--text);
}

.menu__links {
    position: absolute;
    width: 100%;
    height: calc(100vh - var(--line-height) * 3);
    padding: calc(var(--line-height) * 2);
    top: calc(var(--line-height) * 3);
    left: -100%;
    border-top: 1px solid var(--text);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--line-height);
    transform: translateX(0);
    transition: transform 0.3s 0.1s ease-in-out;

    &.visible {
        transform: translateX(100%);
    }

    & a {
        display: block;
        text-align: right;
    }
}

.menu__show {
    display: block;
    position: relative;
    width: calc(var(--line-height) * 2);
    height: calc(var(--line-height) * 2);
    transform: translate(
        calc(var(--line-height) * 0.5),
        calc(var(--line-height) * -0.5)
    );
    justify-self: end;

    & .show__bar {
        margin: 0 auto;
        display: block;
        background-color: var(--links);
        width: 21px;
        height: 2px;
        position: relative;
        transition: background-color 0.2s ease-in-out;

        &::before,
        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background-color: var(--links);
            left: 0;
            transition: transform 0.2s ease-in-out;
        }

        &::before {
            transform: translateY(-7px);
        }
        &::after {
            transform: translateY(7px);
        }
    }

    &:hover .show__bar,
    &:hover .show__bar::before,
    &:hover .show__bar::after {
        background-color: var(--backup);
    }

    &:active .show__bar {
        transform: scale(0.9);
    }

    &[aria-expanded='true'] .show__bar {
        background-color: var(--transparent);
    }

    &[aria-expanded='true'] .show__bar::before {
        transform: rotate(-45deg);
    }
    &[aria-expanded='true'] .show__bar::after {
        transform: rotate(45deg);
    }
}

@media (min-width: 650px) {
    .menu {
        grid-template-columns: 46px 1fr min-content;
        backdrop-filter: blur(var(--blur));
        background-color: unset;
    }

    .menu__show {
        display: none;
    }

    .menu__links {
        position: relative;
        background: unset;
        border: unset;
        backdrop-filter: unset;
        grid-column: 2;
        grid-row: 1;
        left: unset;
        top: unset;
        transform: unset;
        padding: unset;
        width: unset;
        height: unset;
        flex-direction: row;

        & a {
            text-decoration: none;
            color: var(--text);

            &:hover {
                text-decoration: underline;
            }
        }
    }
    .menu__lang {
        grid-column: 3;
    }
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    padding: var(--line-height);
    text-align: center;
}
.decorator {
    display: none;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--line-height);
    padding: calc(var(--line-height) * 3) 0 calc(var(--line-height) * 4);
    position: relative;

    a,
    button {
        grid-column: 1 / -1;
        text-wrap: balance;
        text-align: right;
    }

    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 50%;
        background-color: var(--text);
        transform: translate(-50%, var(--baseline-offset));
    }

    > div {
        grid-column: 1 / -1;
    }

    & h4 {
        margin: 0 1ch 0;
        /* text-align: right; */
        grid-column: span 2;
    }

    & li {
        position: relative;
        text-wrap: balance;
        margin: 0 0 0 calc(var(--line-height) * 2);

        &::before {
            position: absolute;
            content: '>';
            width: 2ch;
            transform: translateX(-100%);
        }
    }

    &:first-child {
        margin: calc(var(--line-height) * 2) 0 0;

        a,
        button {
            grid-column: 2 / -1;
        }
        & .subsection {
            grid-column: 1 / 4;
            > p {
                margin: 0 0 var(--line-height);
            }
        }
    }
}

.subsection {
    grid-column: 1 / -1;

    & h3 ~ p {
        margin: 0 0 var(--line-height) calc(var(--line-height) * 2);
    }
}

h1,
h2 {
    grid-column: 1 / -1;
}

h3 {
    grid-column: 1 / -1;
    margin: var(--line-height) 0;
}

img {
    height: calc(var(--line-height) * 5);
    aspect-ratio: 3 / 2;
    transform: translateY(var(--baseline-offset));
}

hr {
    margin: calc(var(--line-height) * 2) 0 calc(var(--line-height) * 3 - 1px);
    padding: 0;
    border: none;
    border-bottom: 1px dotted var(--text);
    transform: translateY(var(--baseline-offset));
    grid-column: 1 / -1;
}

ul {
    list-style: none;
    margin: 0 0 var(--line-height);
}

.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    margin: 0 0 calc(var(--line-height) * 2);

    & img {
        object-fit: cover;
        height: calc(var(--line-height) * 7);
        aspect-ratio: 3 / 2;
        grid-column: 1 / -1;
        transform: translateY(var(--baseline-offset));
        margin: 0 0 0 calc(var(--line-height) * 2);
    }

    & div {
        grid-column: 1 / -1;
    }

    & p {
        grid-column: 1 / -1;
        margin-left: calc(var(--line-height) * 2);
    }

    & .card__links {
        grid-column: 1 / -1;

        & * {
            width: 100%;
            display: block;
            text-wrap: balance;
            text-align: right;
            text-decoration: underline;
        }
    }

    & button::after {
        content: ' *';
    }
}

::backdrop {
    opacity: 0;
}

dialog {
    box-sizing: border-box;
    width: calc(100dvw - var(--line-height) * 2);
    height: calc(100dvh - var(--line-height) * 5);
    margin: calc(var(--line-height) * 3) auto;
    border: none;
    padding: var(--line-height);
    background: var(--text);
    color: var(--background);
    box-shadow: none;

    &[open] {
        animation: dialog-in 0.3s ease-in-out 0.2s 1 both;
    }

    &[closing] {
        animation: dialog-out 0.3s ease-in-out 1 both;
    }

    img {
        width: 100%;
        height: auto;
        outline: 1px solid var(--background);
        margin: 0 0 var(--line-height);
    }

    a {
        color: var(--background);
        display: block;
        text-align: right;
    }

    & .dialog__closeBtn {
        text-decoration: underline;
        margin: 0 0 0 auto;
        display: block;

        &::after {
            content: ' X';
        }
    }

    ul {
        margin: calc(var(--line-height) * -1) 0 calc(var(--line-height) * 2);
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        li + li::before {
            content: '|';
            margin: 1ch;
        }
    }

    figcaption {
        text-align: right;
        margin: calc(var(--line-height) * -1) 0 calc(var(--line-height) * 2);
        font-size: calc(var(--base-size) * 0.8);
    }
}

@media (min-width: 700px) {
    .decorator {
        display: block;
        position: absolute;

        font-family: var(--font-display);
        font-size: calc(var(--line-height) * 10);
        line-height: calc(var(--line-height) * 10);
        z-index: -10;
        transform: translateY(var(--baseline-offset));
        top: 0;
        color: var(--grid-lines-color);
        word-break: break-all;
        pointer-events: none;
        user-select: none;

        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        height: 100%;
    }
    section {
        grid-template-columns: repeat(8, 1fr);

        &::after {
            width: 80%;
        }

        > div {
            grid-column: 1 / -1;
        }

        > a,
        > button {
            grid-column: 5 / span 4;
            text-wrap: balance;
            text-align: right;
        }

        h4 {
            /* margin: 0 1ch 0; */
            text-align: right;
            /* grid-column: span 2; */
        }

        &:first-child {
            a,
            button {
                grid-column: 5 / span 4;
                justify-self: end;
            }
            & .subsection {
                grid-column: 3 / span 4;
            }
        }
    }

    .subsection {
        grid-column: 2 / span 6;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: var(--line-height);
        p {
            grid-column: 1 / -1;
        }

        & h3 ~ p {
            grid-column: 2 / -1;
            margin: 0 0 var(--line-height) 0;
        }
    }

    img {
        height: calc(var(--line-height) * 5);
        transform: translateY(var(--baseline-offset));
    }

    hr {
        grid-column: 2 / -2;
    }

    ul {
        grid-column: 3 / -1;
    }
    section li {
        margin: 0;
    }

    .card {
        grid-template-columns: repeat(8, 1fr);
        column-gap: var(--line-height);

        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            aspect-ratio: 3 / 2;
            grid-column: 6 / span 3;
            transform: translateY(0);
            margin: 0;
        }

        & div {
            grid-column: 2 / span 4;
        }
        & p {
            grid-column: 2 / span 4;
            margin: 0 0 var(--line-height);
        }

        & .card__links {
            grid-column: 6 / -1;
            align-self: end;
        }
    }

    dialog {
        width: calc(90% - var(--line-height) * 2);
        margin: calc(var(--line-height) * 3) auto;
        border: none;
        padding: var(--line-height);
        background: var(--text);
        color: var(--background);

        img {
            width: unset;
            height: unset;
            margin: var(--line-height) 15% var(--line-height) 0;
            transform: translateX(calc(var(--line-height) * -1));
            outline: 1px solid var(--background);
        }

        > a {
            color: var(--background);
            display: block;
            text-align: right;
        }

        p {
            margin: 0 15% var(--line-height);
        }

        ul {
            grid-column: 1 / -1;
            margin: calc(var(--line-height) * -1) 0 calc(var(--line-height) * 2)
                15%;
            display: flex;
            flex-direction: row;

            li + li::before {
                content: ' | ';
            }
        }

        figcaption {
            margin: calc(var(--line-height) * -1) 5%
                calc(var(--line-height) * 2);
        }
    }
}

@media (min-width: 1100px) {
    section {
        grid-template-columns: repeat(12, 1fr);

        a,
        button {
            grid-column: 9 / -1;
            text-wrap: balance;
            align-self: end;
        }

        &::after {
            width: 84%;
        }

        ul {
            grid-column: 4 / -1;
        }
        h4 {
            grid-column: 2 / 4;
        }
        &:first-child {
            a,
            button {
                grid-column: 2 / -1;
                text-wrap: balance;
            }
            & .subsection {
                align-self: end;
                grid-column: 7 / span 6;
                > p {
                    margin: 0 0 var(--line-height);
                    grid-column: 2 / -2;
                }
            }
        }
    }

    .subsection {
        grid-column: span 6;
        align-self: start;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: var(--line-height);

        h3 {
            grid-column: 2 / -1;
        }

        h3 ~ p,
        h3 + ul {
            grid-column: 3 / -1;
        }

        p {
            grid-column: 3 / -1;
        }
    }

    h1 {
        grid-column: 2 / span 3;
    }

    hr {
        grid-column: 2 / -2;
    }

    section li {
        margin: 0;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        & h3 {
            grid-column: 2 / -1;
        }

        & img {
            grid-column: 7 / span 3;
            transform: translateY(var(--baseline-offset));
        }

        & div {
            grid-column: 10 / span 3;
            align-self: end;
        }

        & p {
            grid-column: 3 / span 4;
        }

        & .card__links {
            grid-column: 9 / -1;

            & * {
                width: 100%;
                display: block;
                text-wrap: balance;
                text-align: right;
                text-decoration: underline;
            }
        }

        & button::after {
            content: ' *';
        }
    }

    dialog {
        width: min(calc(84dvw - var(--line-height) * 2), 1080px);
        height: calc(100dvh - var(--line-height) * 4);
        margin: calc(var(--line-height) * 3) auto;
        border: none;
        padding: var(--line-height);
        background: var(--text);
        color: var(--background);

        img {
            width: 100%;
            height: auto;
            outline: 1px solid var(--background);
            margin: 0 0 var(--line-height);
        }

        a {
            color: var(--background);
            display: block;
            text-align: right;
        }

        .subsection p {
            grid-column: 1 / -1;
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
        }

        figcaption {
            text-align: right;
            margin: calc(var(--line-height) * -1) 5%
                calc(var(--line-height) * 1);
            font-size: calc(var(--base-size) * 0.8);
        }
    }
}
.first_plane {
    animation: focus 0.3s ease-in-out 1 forwards;
}
.second_plane {
    animation: unfocus 0.3s ease-in-out 1 forwards;
}

@keyframes focus {
    0% {
        filter: blur(var(--blur)) contrast(50%);
        transform: scaleX(0.9);
    }
    100% {
        filter: blur(0px) contrast(100%);
        transform: scaleX(1);
    }
}
@keyframes unfocus {
    0% {
        filter: blur(0px) contrast(100%);
        transform: scaleX(1);
    }
    100% {
        filter: blur(var(--blur)) contrast(50%);
        transform: scaleX(0.9);
    }
}

@keyframes dialog-out {
    0% {
        transform: translateY(0%) scale(1);
    }
    100% {
        transform: translateY(100vh) scale(0.7);
    }
}
@keyframes dialog-in {
    0% {
        transform: translateY(100vh) scale(0.7);
    }
    100% {
        transform: translateY(0%) scale(1);
    }
}
